  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
			  			  <br/>			  <br/>			  <br/>
              <h2>SPARQL Anything is under active development</h2>
			  <br/>			  <br/>			  <br/>
              <a href="https://github.com/SPARQL-Anything/sparql.anything/releases/latest" class="btn btn-default btn-xl wow tada">Latest release</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://sparql-anything.readthedocs.io/en/latest/" class="btn btn-default btn-xl wow tada">Documentaton</a>
			  <br/>			  <br/>			  <br/>
          </div>
      </div>
  </aside>
