<section id="highlights">
	
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code wow bounceIn text-primary"></i>
                    <h3>Query many formats with SPARQL</h3>
                    <!-- <p class="text-muted">CSV, XML, JSON, HTML, YAML, Markdown, Bibtex, Zip, Tar, DOCx, XSLx, TXT, HTTP, Binary, Images (PNG, JPG, TIF,...) + EXIF</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-terminal wow bounceIn text-primary"></i>
                    <h3>CLI and Server</h3>
                    <!-- <p class="text-muted">Command line and server (via Jena Fuseki)</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code-branch wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Develop knowledge graph construction pipelines</h3>
                    <!-- <p class="text-muted">Use SPARQL Results Sets as input for parametric queries (CLI). Decompose your data integration workflow!</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 class="">Made for SPARQL lovers</h3>
                    <!-- <p class="text-muted">Made by SPARQL lovers, no need to learn a new language. </p> -->
                </div>
            </div>
        </div>
    </div>
</section>