  <section class="bg-dark" id="use">
      <div class="container text-center">
          <div class="call-to-action">
			  			  <br/>			  <br/>			  <br/>
              <h2 id="download">Use</h2>
<p>SPARQL Anything is available as Command Line Interafce (CLI), Web Server, Software Library (Java and Python).</p>
			  <br/>			  <br/>			  <br/>


<a href="https://github.com/SPARQL-Anything/sparql.anything/" class="btn btn-default btn-xl wow tada"><i class="fa-github"></i>Source Code (Java)</a>


<a href="https://github.com/SPARQL-Anything/sparql.anything/releases/latest" class="btn btn-default btn-xl wow tada">Latest release</a>

<a href="https://github.com/SPARQL-Anything/PySPARQL-Anything/" class="btn btn-default btn-xl wow tada">PySPARQL-Anything (Python)</a>

<a href="https://sparql-anything.readthedocs.io/en/latest/" class="btn btn-default btn-xl wow tada">Documentaton</a>
			  <br/>			  <br/>			  <br/>
          </div>
      </div>
  </section>
