  <section class="bg-dark" id="use">
      <div class="container text-center">
          <div class="call-to-action">
			  			  <br/>			  <br/>			  <br/>
              <h2 id="download">Use</h2>
<p>SPARQL Anything is available as Command Line Interafce (CLI), Web Server, and Software Library (Java and Python).</p>
			  <br/>			  <br/>


<a href="https://github.com/SPARQL-Anything/sparql.anything/" class="btn btn-default btn-xl wow tada">
    <i class="fab fa-java" style="font-size: 3em"></i><br/>Source Code</a>

<a href="https://github.com/SPARQL-Anything/sparql.anything/releases/latest" class="btn btn-default btn-xl wow tada">
    <i class="fa fa-download" style="font-size: 3em"></i><br/>Latest Release</a>

<a href="https://github.com/SPARQL-Anything/PySPARQL-Anything/" class="btn btn-default btn-xl wow tada">
    <i class="fab fa-python" style="font-size: 3em"></i><br/>Python</a>
	
<a href="https://sparql-anything.readthedocs.io/en/latest/" class="btn btn-default btn-xl wow tada">
    <i class="fa fa-book" style="font-size: 3em"></i><br/>Documentaton</a>
			  <br/>			  <br/>
<a href="https://github.com/SPARQL-Anything/sparql.anything/discussions" class="btn btn-default btn-xl wow tada">
    <i class="fab fa-github" style="font-size: 3em"></i><br/>Ask a question</a>

<a href="https://forms.gle/t1paTLz7jVu3RYnu8" class="btn btn-default btn-xl wow tada">
	<i class="fa fa-heart" style="font-size: 3em"></i><br/>Join</a>

          </div>
      </div>
  </section>
